/*
	Student Name: Aaron Renshaw & Joseph Garwood
	Student Number: 041122937 & 041085246
	Date: April 2nd, 2024
	Prof: Alem Legesse
	Course: CST 8285
*/

/* CSS DOCUMENT */

/* Set styling for all body elements */
body{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(251, 246, 232);
    padding: 50px;
}

/* styling to hide the default HTML toggle button beside icon */
#dark-toggle{
    width:0;
    height:0;
    border:0;
    opacity:0;
}

/* change the cursour to a pointer when hovering over dark mode toggle button */
#toggle-image img{
    cursor: pointer;
    padding:5px;
}

/* change the icon from black to white when dark mode is enabled to help icon stand out */
.dark-mode #toggle-image img{
    filter: invert(1);
}

/* change the pages background colour and font colour when darkmnode is enabled */
.dark-mode{
    background-color: rgb(48, 48, 48);
    color: rgb(220, 220, 220);
}

/* change background color on navbar on page when darkmode is enabled */
.dark-mode .navbar{
    background-color: rgb(220, 220, 220);
}

/* change font color on navbar on page when darkmode is enabled */
.dark-mode .navbar a{
    color:rgb(42, 42, 42);
}

/* change background color and font color of buttons on page when darkmode is enabled */
.dark-mode button{
    background-color:  rgb(220, 220, 220);
    color: rgb(61, 61, 61)
}

/* Set styling for all wrapper elements */
.wrapper{
    padding:20px;

}

/* Set styling for all header elements */
.header{
    text-align: center;
}

/* Set styling for all span elements */
span{
    color:red;
}

/* Set styling for all navbar elements */
.navbar{
    text-align: center;
    background-color: rgb(61, 61, 61);
    justify-content: center;
    padding: 10px;
    border-radius: 10px;;
}

/* Set the navbar font to white and add padding */
.navbar a{
    color: rgb(255, 252, 252);
    padding: 0px 10px;
}

/* Set the colour of the navbar font when hovering */
.navbar a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(88, 87, 87);
    padding: 10px;
}

/* Set styling for all review elements */
#reviews{
    text-align: center;
    display:flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
    gap:20px;
    padding:20px;

}

/* Set styling for all button elements */
button{
    border: 0px;
    color: white;
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;

    width: 100%;
}

/* set a darker colour when hovering over buttons */
button:hover{
    background-color: rgb(88, 88, 88);
}

/* create flex-box container for images and center the items */
#image-container{
    padding:30px;
    display:flex;
    justify-content: center;
    gap:15px;
}

/* add rounded corners to all images */
img{
    border-radius: 10px;
}

/* center align paragraph text cause left align text is ugly */
p{
text-align: center;
}

/* Stylings related to the createAppointments.php file */
.appointmentConfirmation {
    /* Limits the size of the div, mostly because "reason" tends to be long */
    max-width: 350px;
    /* Centers the div */
    margin-left: auto;
    margin-right: auto;
}

/* Stylings related to the viewAppointments.php file */
.appointmentsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-left: 35px;
    margin-right: auto;
}

/* Sets a border, fixed width, margin and padding for the divs containing each appointment*/
.appointment {
    border: 3px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 600px;
}

/* Changes the appointments grid to one column, reduces appointment width and 
lowers the margin from the left side of the screen*/
@media screen and (max-width: 750px) {
    .appointmentsContainer {
        grid-template-columns: 1fr 1fr;
        margin-left: 0px;
    }
    .appointment {
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600 pixels */

    body{
        min-width: 400px;
    }

    .navbar{
        display:flex;
        flex-wrap: nowrap;
    }

    img{
        max-width: 500px;
    }

  }
  